/*ESTILOS Y TAMAÑOS DE LETRA PARA DIFERENTE ANCHURA DE LA PANTALLA*/
@font-face {
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 300;
  src: local('Work Sans Light'), local('WorkSans-Light'), url(https://fonts.gstatic.com/s/worksans/v3/QGYpz_wNahGAdqQ43Rh314L8lthI.ttf) format('truetype');
}
@font-face {
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Work Sans'), local('WorkSans-Regular'), url(https://fonts.gstatic.com/s/worksans/v3/QGYsz_wNahGAdqQ43Rh_cqDs.ttf) format('truetype');
}
@font-face {
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 600;
  src: local('Work Sans SemiBold'), local('WorkSans-SemiBold'), url(https://fonts.gstatic.com/s/worksans/v3/QGYpz_wNahGAdqQ43Rh3o4T8lthI.ttf) format('truetype');
}
@font-face {
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Work Sans Bold'), local('WorkSans-Bold'), url(https://fonts.gstatic.com/s/worksans/v3/QGYpz_wNahGAdqQ43Rh3x4X8lthI.ttf) format('truetype');
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
html {
  font-size: 15px;
}

body {
  background-color: #9a9292;
  font-family: 'Work Sans', 'Helvetica Neue', Arial, sans-serif;
}

.container {
  width: 90%;
  min-width: 18em;
  margin: 20px auto;
}
h1,
h2 {
  text-align: center;
}
h1 {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 0.5em;
}
h2 {
  font-size: 1.4rem;
  font-weight: 600;
  margin-bottom: 2em;
}
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.Logo {
   height:auto;
   margin:auto;
   display:block;
}
.cont-btnjugar{/*SE APLICA AL CONTENEDOR DEL BOTON PERO NO AL BOTON EN SI*/
   text-align: center;
   height:auto;
   position: relative;
   top:20px;
}
#btn-jugar, #btn-liguilla{/*SE REDONDEA EL BOTON JUGAR, BOTON LIGUILLA*/
   border-radius:10px;
}

#div-tab-gral, #div-tab-goleo{
	padding-top: 50px;
}

#ul-semifinal{
	padding-left: 0px;
}

.bienvenido{
  top:50px;
  background:#9a9292;
  border:0px;
}
.loading{
  text-align: center;
}
img {
  display: block;
  height: auto;
  margin:auto;
  border-radius:10px;
}
.cont-btninicio{
   text-align: center;
   height:auto;
   position: relative;
   top:20px;
}
/*--------------INDEX2-------------------------*/
.table-sm {
  border-collapse: collapse;
  width: 100%;
}

.cont-btnliguilla{/*POSCISIONAMOS EL BOTON DE LIGUILLA*/
  display: inline-block;
  position: relative;
  flex-wrap: wrap;
  left: 75%;
  padding-bottom: 20px;
}

/*------------------INDEX3---------------------------*/


.copa{
   display: flex;
   justify-content: flex-end;
   align-items: center;
}

.cont-diagrama{
   position: static;
   right: -800px;
}

.copa{
   background:none;
   display: flex;
}


/*-----------------DIAGRAMA DE JUEGOS--------------*/
.bracket-title{
  color: #0e0e0e;
  font-size: 0.95rem;
  font-weight: 400;
  text-align: center;
  font-style: italic;
  margin-bottom: 0.5em;
}
/*CONTENEDOR GENERAL DEL DIAGRAMA*/
.tournament-bracket {
  display: flex;
  flex-direction: column;
}

.tournament-bracket__round {
  display: block;
  margin-left: -3px;
  flex: 1;
}
/*MODIFICACION PARA <ul> DE LAS LISTAS*/
.tournament-bracket__list {
  display: flex;
  margin-left: 0px;
  padding-left: 0px;
  flex-direction: column;
  flex-flow: row wrap;
  justify-content: center;
  height: 100%;
  min-height: 100%;
  border-bottom: 1px dashed #cccccc;
  padding-bottom: 2em;
  margin-bottom: 2em;
  transition: padding 0.2s ease-in-out, margin 0.2s ease-in-out;
}
.tournament-bracket__round:last-child .tournament-bracket__list {
  border: 0;
}
/*MODIFICACION PARA <li> LOS ELEMENTOS DE LAS LISTAS*/
.tournament-bracket__item {
  display: flex;
  flex: 0 1 auto;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  padding: 2% 0;
  width: 48%;
  transition: padding 0.2s linear;
}
.tournament-bracket__item:nth-child(odd) {
  margin-right: 2%;
}
.tournament-bracket__item:nth-child(even) {
  margin-left: 2%;
}
.tournament-bracket__item::after {
  transition: width 0.2s linear;
}
/*ESTILO DE LOS CONTENEDORES DONDE SE MUESTRAN LOS ENFRENTAMIENTOS DE LOS EQUIPOS*/
.tournament-bracket__match {
  display: flex;
  width: 100%;
  background-color: #ffffff;
  padding: 1em;
  border: 1px solid #303030;
  border-radius: 10px;
  box-shadow: 0 0 8px 0 #3a3333bf;
  border-left: 0.40rem solid #3a3333bf;
  outline: none;
  cursor: pointer;
  transition: padding 0.2s ease-in-out, border 0.2s linear;
}
.tournament-bracket__match-color {
  display: flex;
  width: 100%;
  background-color: #ffffff;
  padding: 1em;
  border: 1px solid #303030;
  border-radius: 10px;
  box-shadow: 0 0 8px 0 #3a3333bf;
  border-left: 0.40rem solid #60c645;
  outline: none;
  cursor: pointer;
  transition: padding 0.2s ease-in-out, border 0.2s linear;
}
.tournament-bracket__match:focus {
  border-color: #2196F3;
}
/*DECLARACIÓN DE LOS ESTILOS QUE VA A CONTENER CADA UNO DE LOS ELEMENTOS EN LOS DIAGRAMAS*/
.tournament-bracket__match::before,
.tournament-bracket__match::after {
  transition: all 0.2s linear;
}
.tournament-bracket__match-color::before,
.tournament-bracket__match-color::after {
  transition: all 0.2s linear;
}
.tournament-bracket__round:last-child .tournament-bracket__match::before,
.tournament-bracket__round:last-child .tournament-bracket__match::after {
  border-left: 0;
}
.tournament-bracket__round:last-child .tournament-bracket__match::before {
  border-bottom-left-radius: 0;
}
.tournament-bracket__round:last-child .tournament-bracket__match::after {
  display: none;
}
.tournament-bracket__round:first-child .tournament-bracket__match::before,
.tournament-bracket__round:first-child .tournament-bracket__match::after {
  display: none;
}

.tournament-bracket__round:last-child .tournament-bracket__match-color::before,
.tournament-bracket__round:last-child .tournament-bracket__match-color::after {
  border-left: 0;
}
.tournament-bracket__round:last-child .tournament-bracket__match-color::before {
  border-bottom-left-radius: 0;
}
.tournament-bracket__round:last-child .tournament-bracket__match-color::after {
  display: none;
}
.tournament-bracket__round:first-child .tournament-bracket__match-color::before,
.tournament-bracket__round:first-child .tournament-bracket__match-color::after {
  display: none;
}
.tournament-bracket__content {
  display: flex;
}
.tournament-bracket__content::after {
  content: ':';
  width: 1em;
  text-align: center;
  padding: 0.2em 0.1em;
}
.tournament-bracket__content .tournament-bracket__team:first-child {
  width: 50%;
  order: 0;
  text-align: right;
}
.tournament-bracket__content .tournament-bracket__team:first-child .tournament-bracket__country {
  order: 2;
  justify-content: flex-end;
}
.tournament-bracket__content .tournament-bracket__team:first-child .tournament-bracket__score {
  order: 0;
}
.tournament-bracket__content .tournament-bracket__team:last-child {
  width: 50%;
  order: 2;
  text-align: left;
}
.tournament-bracket__content .tournament-bracket__team:last-child .tournament-bracket__code {
  order: 1;
}
.tournament-bracket__table {
  width: 100%;
}
.tournament-bracket__caption {
  font-size: 0.8rem;
  color: #BDBDBD;
  font-weight: 300;
  padding-bottom: 0.75em;
}
/*ESTILOS PARA EL NOMBRE DE LOS EQUIPOS*/
.tournament-bracket__team {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}
.tournament-bracket__country {
  font-size: 0.95rem;
  display: flex;
  margin-top: 0.5em;
  align-items: center;
}
/*ESTILOS PARA LOS PUNTAJES DE CADA EQUIPO*/
.tournament-bracket__code {
  padding: 0 0.5em;
  color: #212121;
  font-weight: 600;
  text-transform: uppercase;
  border: 0;
  text-decoration: none;
  cursor: help;
  transition: padding 0.2s ease-in-out;
}
.tournament-bracket__score {
  display: flex;
  align-items: center;
}
.tournament-bracket__team:first-child .tournament-bracket__score {
  flex-direction: row-reverse;
  padding-left: 0.75em;
}
.tournament-bracket__team:last-child .tournament-bracket__score {
  padding-right: 0.75em;
}
.tournament-bracket__number {
  display: inline-block;
  padding: 0.2em 0.4em 0.2em;
  border-bottom: 0.075em solid transparent;
  font-size: 0.95rem;
  background-color: #F5F5F5;
  border-color: #dddddd;
}
.tournament-bracket__team--winner .tournament-bracket__number {
  background-color: #FFF176;
  border-color: #fad674;
}
.tournament-bracket__medal {
  padding: 0 0.5em;
}
.tournament-bracket__medal--gold {
  color: #FFD700;
}
.tournament-bracket__medal--silver {
  color: #C0C0C0;
}
.tournament-bracket__medal--bronze {
  color: #CD7F32;
}

/*MEDIA QUERIES*/
/*Las Media Queries son utilizadas para modificar las propiedades de los 
de los elementos del diagrama de liguilla dependiendo de la anchura de la
pantalla, así se da un aspecto responsivo conforme varia el ancho de la 
pantalla para los diferentes dispositivos en que se puede acceder a la 
aplicación*/
@media (min-width: 600px) {
  html {
	font-size: 11px;
  }
}
@media (min-width: 900px) {
  html {
	font-size: 13px;
  }
}
@media (min-width: 1200px) {
  html {
	font-size: 15px;
  }
}
@media (min-width: 600px) {
  .tournament-bracket {
	flex-direction: row;
  }
}

@media (max-width: 600px) {
  .tournament-bracket__list {
	padding-bottom: 1em;
	margin-bottom: 1em;
  }
}
@media (min-width: 600px) {
  .tournament-bracket__list {
	margin-bottom: 0;
	padding-bottom: 0;
	border-bottom: 0;
  }
}

@media (max-width: 600px) {
  .tournament-bracket__item {
	width: 100%;
  }
  .tournament-bracket__item:nth-child(odd),
  .tournament-bracket__item:nth-child(even) {
	margin-left: 0;
	margin-right: 0;
  }
}
@media (min-width: 600px) {
  .tournament-bracket__item {
	padding: 0.5em 1em;
	width: 100%;
  }
  .tournament-bracket__item:nth-child(odd),
  .tournament-bracket__item:nth-child(even) {
	margin: 0;
  }
  .tournament-bracket__item::after {
	position: absolute;
	right: 0;
	content: '';
	display: block;
	width: 1em;
	height: 45%;
	border-right: 2px solid #cccccc;
  }
  .tournament-bracket__item:nth-child(odd)::after {
	top: 50%;
	border-top: 2px solid #cccccc;
	-webkit-transform: translateY(-1px);
			transform: translateY(-1px);
  }
  .tournament-bracket--rounded .tournament-bracket__item:nth-child(odd)::after {
	border-top-right-radius: 0.6em;
  }
  .tournament-bracket__item:nth-child(even)::after {
	bottom: 50%;
	border-bottom: 2px solid #cccccc;
	-webkit-transform: translateY(1px);
			transform: translateY(1px);
  }
  .tournament-bracket--rounded .tournament-bracket__item:nth-child(even)::after {
	border-bottom-right-radius: 0.6em;
  }
  .tournament-bracket__round:first-child .tournament-bracket__item {
	padding-left: 0;
  }
  .tournament-bracket__round:last-child .tournament-bracket__item {
	padding-right: 0;
  }
  .tournament-bracket__round:last-child .tournament-bracket__item::after {
	display: none;
  }
  .tournament-bracket__round:nth-last-child(2) .tournament-bracket__item::after {
	border-radius: 0;
	border-right: 0;
  }
}
@media (min-width: 1200px) {
  .tournament-bracket__item {
	padding: 0.5em 1.5em;
  }
  .tournament-bracket__item::after {
	width: 1.5em;
  }
}

@media (max-width: 600px) {
  .tournament-bracket__match {
	padding: 0.75em 0.5em;
  }
  .tournament-bracket__match-color {
	padding: 0.75em 0.5em;
  }
}
@media (min-width: 600px) {
  .tournament-bracket__match::before,
  .tournament-bracket__match::after {
	position: absolute;
	left: 1px;
	z-index: 1;
	content: '';
	display: block;
	width: 1em;
	height: 10%;
	border-left: 2px solid #cccccc;
  }
  .tournament-bracket__match::before {
	bottom: 50%;
	border-bottom: 2px solid #cccccc;
	-webkit-transform: translate(0, 1px);
			transform: translate(0, 1px);
  }
  .tournament-bracket--rounded .tournament-bracket__match::before {
	border-bottom-left-radius: 0.6em;
  }
  .tournament-bracket__match::after {
	top: 50%;
	border-top: 2px solid #cccccc;
	-webkit-transform: translate(0, -1px);
			transform: translate(0, -1px);
  }
  .tournament-bracket--rounded .tournament-bracket__match::after {
	border-top-left-radius: 0.6em;
  }
  
  .tournament-bracket__match-color::before,
  .tournament-bracket__match-color::after {
	position: absolute;
	left: 1px;
	z-index: 1;
	content: '';
	display: block;
	width: 1em;
	height: 10%;
	border-left: 2px solid #cccccc;
  }
  .tournament-bracket__match-color::before {
	bottom: 50%;
	border-bottom: 2px solid #cccccc;
	-webkit-transform: translate(0, 1px);
			transform: translate(0, 1px);
  }
  .tournament-bracket--rounded .tournament-bracket__match-color::before {
	border-bottom-left-radius: 0.6em;
  }
  .tournament-bracket__match-color::after {
	top: 50%;
	border-top: 2px solid #cccccc;
	-webkit-transform: translate(0, -1px);
			transform: translate(0, -1px);
  }
  .tournament-bracket--rounded .tournament-bracket__match-color::after {
	border-top-left-radius: 0.6em;
  }
}
@media (min-width: 1200px) {
  .tournament-bracket__match::before,
  .tournament-bracket__match::after {
	width: 1.5em;
  }
  .tournament-bracket__match::before {
	-webkit-transform: translate(0, 1px);
			transform: translate(0, 1px);
  }
  .tournament-bracket__match::after {
	-webkit-transform: translate(0, -1px);
			transform: translate(0, -1px);
  }
  
  .tournament-bracket__match-color::before,
  .tournament-bracket__match-color::after {
	width: 1.5em;
  }
  .tournament-bracket__match-color::before {
	-webkit-transform: translate(0, 1px);
			transform: translate(0, 1px);
  }
  .tournament-bracket__match-color::after {
	-webkit-transform: translate(0, -1px);
			transform: translate(0, -1px);
  }
}

@media (min-width: 600px) {
  .tournament-bracket__content::after {
	order: 1;
  }
}

@media (min-width: 600px) and (max-width: 750px) {
  .tournament-bracket__content .tournament-bracket__team:first-child {
	align-items: flex-end;
  }
}

@media (min-width: 600px) {
  .tournament-bracket__content .tournament-bracket__team:first-child .tournament-bracket__country {
	order: 0;
  }
}
@media (min-width: 600px) and (max-width: 750px) {
  .tournament-bracket__content .tournament-bracket__team:first-child .tournament-bracket__country {
	flex-direction: column-reverse;
	align-items: flex-end;
  }
}

@media (min-width: 600x) {
  .tournament-bracket__content .tournament-bracket__team:first-child .tournament-bracket__score {
	order: 2;
  }
}

@media (min-width: 600px) and (max-width: 750px) {
  .tournament-bracket__content .tournament-bracket__team:last-child {
	align-items: flex-start;
  }
}
@media (min-width: 600px) {
  .tournament-bracket__content .tournament-bracket__team:last-child .tournament-bracket__country {
	justify-content: flex-start;
  }
}
@media (min-width: 600px) and (max-width: 750px) {
  .tournament-bracket__content .tournament-bracket__team:last-child .tournament-bracket__country {
	align-items: flex-start;
  }
}

@media (min-width: 600px) {
  .tournament-bracket__team {
	flex-direction: column-reverse;
  }
}
@media (min-width: 600px) {
  .tournament-bracket__team {
	flex-direction: column-reverse;
  }
}

@media (max-width: 600px) {
  .tournament-bracket__country {
	margin-top: 0;
  }
}
@media (min-width: 600px) and (max-width: 750px) {
  .tournament-bracket__country {
	display: flex;
	flex-direction: column;
  }
  .tournament-bracket__country .tournament-bracket__code {
	margin-top: 0.2em;
  }
}

@media (max-width: 600px) {
  .tournament-bracket__code {
	padding: 0 0.25em;
  }
}
@media (min-width: 600px) and (max-width: 750px) {
  .tournament-bracket__code {
	padding: 0;
  }
}