body {
  background-color: #9a9292;
  font-family: 'Work Sans', 'Helvetica Neue', Arial, sans-serif;
}

.Logo {
   height:auto;
   margin:auto;
   display:block;
}
.cont-btnjugar{/*SE APLICA AL CONTENEDOR DEL BOTON PERO NO AL BOTON EN SI*/
   text-align: center;
   height:auto;
   position: relative;
   top:20px;
}
#btn-jugar, #btn-liguilla{/*SE REDONDEA EL BOTON JUGAR, BOTON LIGUILLA*/
   border-radius:10px;
}

#div-tab-gral, #div-tab-goleo{
	padding-top: 50px;
}

#ul-semifinal{
	padding-left: 0px;
}

.bienvenido{
  top:50px;
  background:#9a9292;
  border:0px;
}
.loading{
  text-align: center;
}
img {
  display: block;
  height: auto;
  margin:auto;
  border-radius:10px;
}
.cont-btninicio{
   text-align: center;
   height:auto;
   position: relative;
   top:20px;
}
/*--------------INDEX2-------------------------*/
.table-sm {
  border-collapse: collapse;
  width: 100%;
}

.cont-btnliguilla{/*POSCISIONAMOS EL BOTON DE LIGUILLA*/
  display: inline-block;
  position: relative;
  flex-wrap: wrap;
  left: 75%;
  padding-bottom: 20px;
}

/*------------------INDEX3---------------------------*/


.copa{
   display: flex;
   justify-content: flex-end;
   align-items: center;
}

.cont-diagrama{
   position: static;
   right: -800px;
}

.copa{
   background:none;
   display: flex;
}


/*-----------------DIAGRAMA DE JUEGOS--------------*/

/*POSCISIONA EL DIAGRAMA EN UN LUGAR EN PARTICULAR(COMO SI FUERAN COORDENADAS TRANSLATE)*/
.bracket-title{
  color: #0e0e0e;
  font-size: 0.95rem;
  font-weight: 400;
  text-align: center;
  font-style: italic;
  margin-bottom: 0.5em;
}