
body { 
  background:#9a9292;
}
.Logo {
   height:auto;
   margin:auto;
   display:block;
}
.cont-btnjugar{/*SE APLICA AL CONTENEDOR DEL BOTON PERO NO AL BOTON EN SI*/
   text-align: center;
   height:auto;
   position: relative;
   top:20px;
}
#btn-jugar, #btn-liguilla{/*SE REDONDEA EL BOTON JUGAR, BOTON LIGUILLA*/
   border-radius:10px;
}

.bienvenido{
  text-align: center;
  position:relative;
  top:150px;
}
.loading{
  text-align: center;
}
img {
  display: block;
  height: auto;
  margin:auto;
  border-radius:10px;
}
.cont-btninicio{
   text-align: center;
   height:auto;
   position: relative;
   top:20px;
}
/*--------------INDEX2-------------------------*/
.tab{/*POSICIONAMOS LAS TABLAS EN UN SOLO CONTENEDOR*/
   display:flex;
   justify-content:space-around;
   align-items: center;  
   
}
.cont-btnliguilla{/*POSCISIONAMOS EL BOTON DE LIGUILLA*/
  display: inline-block;
  position: relative;
  flex-wrap: wrap;
  left: 72%;
  top: 140px;
}

/*------------------INDEX3---------------------------*/


.copa{
   display: flex;
   justify-content: flex-end;
   align-items: center;
}

.cont-diagrama{
   min-width: 500;
   display:center;
   position: relative;
   top: 275px;
   right: -800px;
}

.copa{
   background:#9a9292;
   display: flex;
   top: 300px;
}


/*-----------------DIAGRAMA DE JUEGOS--------------*/

/*POSCISIONA EL DIAGRAMA EN UN LUGAR EN PARTICULAR(COMO SI FUERAN COORDENADAS TRANSLATE)*/
.bracket {
  display: inline-block;
  position: absolute;/*Con esta position evitamos los scrollbar al momento de cambiar*/
  left: 70%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);/*-webkit- ES UN COMPLEMENTO PARA QUE FUNCIONE EN UN NAVEGADOR EN ESPECIFICO*/
          transform: translate(-50%, -50%);/*LA PROPIEDAD "translate(X,Y)" FUNCIONA PARA TRASLADAR UN COMPONENTE ENTRE LAS LINEAS "X" Y "Y"*/
  white-space: nowrap;
  font-size: 0;
}
.bracket .round {
  display: inline-block;
  vertical-align: middle;
}
.bracket .round .winners > div {
  display: inline-block;
  vertical-align: middle;
}
.bracket .round .winners > div.matchups .matchup:last-child {
  margin-bottom: 0 !important;
}
.bracket .round .winners > div.matchups .matchup .participants { 
  border-radius: 0.25rem;
  overflow: hidden;
}
/*FONDO DE COLOR, BORDES DEL DIAGRAMA*/
.bracket .round .winners > div.matchups .matchup .participants .participant {
  box-sizing: border-box;
  color: #858585;
  border-left: 0.25rem solid #858585;
  background: white;
  width: 14rem;
  height: 3rem;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.12);
}
/*TEXTO Y BORDE VERDE DE CUADROS DE DIAGRAMA*/
.bracket .round .winners > div.matchups .matchup .participants .participant.winner {
  color: #60c645;
  border-color: #60c645;
}
/*TEXTO Y BORDE GRIS DE CUADROS DE DIAGRAMA*/
.bracket .round .winners > div.matchups .matchup .participants .participant.loser {
  color: #dc563f;
  border-color: #dc563f;
}
/*SUBRAYADO DEL TEXTO DENTRO DEL CUADRO DE DIAGRAMA*/
.bracket .round .winners > div.matchups .matchup .participants .participant:not(:last-child) {
  border-bottom: thin solid #f0f2f2;
}
/*ESPACIO ENTRE RENGLONES DEL CUADRO DE DIAGRAMA(LINE-HEIGHT)*/
.bracket .round .winners > div.matchups .matchup .participants .participant span {
  margin: 0 1.25rem;
  line-height: 3;
  font-size: 1rem;
  font-family: "Roboto Slab";
}
/*ASIGNA COLOR A LOS MARGENES*/
.bracket .round .winners > div.connector.filled .line, .bracket .round .winners > div.connector.filled.bottom .merger:after, .bracket .round .winners > div.connector.filled.top .merger:before {
  border-color: #60c645;
}
/*ALINEA CUARTOS Y SEMIFINAL EN LINEA DE BLOQUE*/
.bracket .round .winners > div.connector .line, .bracket .round .winners > div.connector .merger {
  box-sizing: border-box;
  width: 2rem;
  display: inline-block;
  vertical-align: top;
}
/*APLICA A CUARTOS Y SEMIFINAL EN LA CLASE "LINE" ESTABLECE EL BORDE INFERIOR DE LOS ELEMENTOS*/
.bracket .round .winners > div.connector .line {
  border-bottom: thin solid #c0c0c8;
  height: 4rem;
}
.bracket .round .winners > div.connector .merger {
  position: relative;
  height: 8rem;
}
.bracket .round .winners > div.connector .merger:before, .bracket .round .winners > div.connector .merger:after {
  content: "";
  display: block;
  box-sizing: border-box;
  width: 100%;
  height: 50%;
  border: 0 solid;
  border-color: #c0c0c8;
}
/*DEFINE GROSOR DE LA LINEA DE RECUADROS VERDES*/
.bracket .round .winners > div.connector .merger:before {
  border-right-width: thin;
  border-top-width: thin;
}
/*DEFINE GROSOR DE LA LINEA DE RECUADROS GRISES*/
.bracket .round .winners > div.connector .merger:after {
  border-right-width: thin;
  border-bottom-width: thin;
}
/*SEPARACION ENTRE LOS CUADROS DE CUARTOS(1,8-2,7 Y 3,6-4,5)*/
.bracket .round.quarterfinals .winners:not(:last-child) {
  margin-bottom: 2rem;
}
/*SEPARA EL 1 Y 4 RECUADRO JUNTO CON SUS LINEAS A SEMIFINALES*/
.bracket .round.quarterfinals .winners .matchups .matchup:not(:last-child) {
  margin-bottom: 2rem;
}
/*SEPARA LOS CUADROS DE SEMIFINALES(1,2 - 6,5)*/
.bracket .round.semifinals .winners .matchups .matchup:not(:last-child) {
  margin-bottom: 10rem;
}
/*TODO LO QUE SEA CONNECTOR ES EL DISEÑO PARA LAS LINEAS*/

/*SEPARA LAS LINEAS QUE CONECTAN A LA FINAL (]-)*/
.bracket .round.semifinals .winners .connector .merger {
  height: 16rem;
}
/*SEPARA LA LINEA QUE APUNTA A LA FINAL(-----)*/
.bracket .round.semifinals .winners .connector .line {
  height: 8rem;
}
.bracket .round.finals .winners .connector .merger {
  height: 3rem;
}
.bracket .round.finals .winners .connector .line {
  height: 1.5rem;
}
